{% include base_path %}
{% include i18n.html %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if page_lang == 'zh' and post.title_zh %}
  {% assign title = post.title_zh %}
{% elsif post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
{% assign item_type = post.type %}
{% assign item_venue = post.venue %}
{% assign item_location = post.location %}
{% if page_lang == 'zh' and post.type_zh %}{% assign item_type = post.type_zh %}{% endif %}
{% if page_lang == 'zh' and post.venue_zh %}{% assign item_venue = post.venue_zh %}{% endif %}
{% if page_lang == 'zh' and post.location_zh %}{% assign item_location = post.location_zh %}{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    {% if post.date %}<p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}</p>{% endif %}
    {% if post.venue %}<p class="archive__item-excerpt" itemprop="description">{% if page_lang == 'zh' %}{{ item_type }}，{{ item_venue }}，{{ item_location }}{% else %}{{ item_type }} at {{ item_venue }}, {{ item_location }}{% endif %}</p>{% endif %}
    </li>
  </article>
</div>

